/* style5.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #11998e, #38ef7d);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #f9f9f9;
}

.input:focus {
  outline: none;
  border-color: #11998e;
  box-shadow: 0 0 6px rgba(17, 153, 142, 0.4);
  background-color: #ffffff;
}

.btn{
  background: green;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(51,93,255,0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #0f867d;
}