<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <title>Verify Reset Password Code</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style6.css') }}">
</head>
<body>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="code-inputs">
      {{ form.digit1(size=1, maxlength=1, autocomplete="off", inputmode="numeric", pattern="[0-9]*") }}
      {{ form.digit2(size=1, maxlength=1, autocomplete="off", inputmode="numeric", pattern="[0-9]*") }}
      {{ form.digit3(size=1, maxlength=1, autocomplete="off", inputmode="numeric", pattern="[0-9]*") }}
      {{ form.digit4(size=1, maxlength=1, autocomplete="off", inputmode="numeric", pattern="[0-9]*") }}
      {{ form.digit5(size=1, maxlength=1, autocomplete="off", inputmode="numeric", pattern="[0-9]*") }}
      {{ form.digit6(size=1, maxlength=1, autocomplete="off", inputmode="numeric", pattern="[0-9]*") }}
    </div>
    <h6>{{ error_message }}</h6>
    {{ form.submit(class="verify-btn", id="send") }}
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const inputs = document.querySelectorAll(".code-inputs input");
      const button = document.getElementById('send');
      inputs.forEach((input, index) => {
        input.addEventListener("input", () => {
          if (input.value.length === 1 && index < inputs.length - 1) {
            inputs[index + 1].focus();
          } else if (index == inputs.length - 1 && input.value.length === 1) {
            button.click()
          }
        });
        input.addEventListener("keydown", (e) => {
          if (e.key === "Backspace" && input.value === "" && index > 0) {
            inputs[index - 1].focus();
          }
        });
      });
    });
  </script>

</body>
</html>